{% extends 'adminpart/base.html' %}
{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Create Variant</h2>
        <div>
            <a href="{% url 'product:variant_details' product.id %}" class="btn btn-outline-primary"><i class="fas fa-list"></i> Variant List</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.size.id_for_label }}" class="form-label">Size</label>
                    {{ form.size }}
                    {% if form.size.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.size.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.variant_price.id_for_label }}" class="form-label">Price</label>
                    {{ form.variant_price }}
                    {% if form.variant_price.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.variant_price.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.variant_stock.id_for_label }}" class="form-label">Stock</label>
                    {{ form.variant_stock }}
                    {% if form.variant_stock.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.variant_stock.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.discount_percentage.id_for_label }}" class="form-label">Discount Percentage</label>
                    {{ form.discount_percentage }}
                    {% if form.discount_percentage.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.discount_percentage.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 form-check">
                    {{ form.variant_status }}
                    <label class="form-check-label" for="{{ form.variant_status.id_for_label }}">Active</label>
                </div>
                <button type="submit" class="btn btn-primary">Create Variant</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
